<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>InstaMess</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://app.userapp.io/js/userapp.client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="/javascripts/src/libs/cookies.js"></script>
    <script src="/javascripts/src/user.js"></script>
    <script src="/javascripts/entry.js"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Insta Poop</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/how-it-works">How it Works</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/pricing">Contact</a></li>
            <li><a class="modal-trigger btn" href="#modal1">Log In</a></li>
            <li><a class="modal-trigger btn" href="#modal1">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
  <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Sign In</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">User</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="icon_telephone" type="tel" class="validate">
                <label for="icon_telephone">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('google')">Log in with Google</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('facebook')">Log in with Facebook</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign In</a>
      </div>
    </div>
    <script>
      var app = new App();
      function socialLogin(providerId) {
        console.log(providerId);
        var redirectUrl = window.location.protocol+'//'+window.location.host+window.location.pathname;
        console.log(redirectUrl)
        UserApp.OAuth.getAuthorizationUrl({ provider_id: providerId, redirect_uri: redirectUrl },
          function(error, result) {
            console.log('madeit');
            if (!error) {
              window.location.href = result.authorization_url;
            }
            console.log(error);
          }
        );
      }

      var matches = window.location.href.match(/ua_token=([a-z0-9_-]+)/i);
      if (matches && matches.length == 2) {
        var token = matches[1];
        UserApp.setToken(token);
        window.location.href = '/dashboard';
      }
      $(document).ready(function(){
        UserApp.initialize({ appId: "57c9a3a52ce8c" });
        $('.modal-trigger').leanModal();
      });
    </script>
  </body>
</html>
