extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://api.instagram.com/oauth/authorize/?client_id=04e0540640be4c6bbc9237420daae3df&redirect_uri=http://local.digest.com:3000&response_type=token") LOG IN
