<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Gathr</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Philosopher|Poiret+One|Titan+One|Work+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">

    <!-- Compiled and minified JavaScript -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://app.userapp.io/js/userapp.client.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://unpkg.com/cookiesjs@1"></script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper blue-grey lighten-1">
          <span class="logo"></span>
          <a href="#" class="brand-logo">
            Gathr
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li class="active"><a href="/home">Home</a></li>
            <li><a href="/how-it-works">How it Works</a></li>
            <li><a href="/pricing">Pricing</a></li>
            <li><a href="/pricing">Contact</a></li>
            <li><a class="modal-trigger btn" href="#modal1">Log In</a></li>
            <li><a class="modal-trigger btn" href="#modal2">Sign up</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <header>
      <div class="title">
        <span class="logo"></span>
        <h1>Gathr</h1>
        <p>Connect with a broader instagram audience with targeted reach to amplify your brand.</p>
        <a class="modal-trigger btn" href="#modal1">Try now!</a>
      </div>
    </header>

    <main>
      <h2>Information about Cheese Curds</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa facilis, labore debitis nesciunt ipsam odio corporis architecto reiciendis voluptas ab quibusdam ratione rerum tempore voluptatibus libero cumque dignissimos vero hic!</p>
    </main>

  <!-- Modal Structure -->
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Sign In</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="login-name" type="text" class="validate">
                <label for="icon_prefix">User</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="login-pass" type="password" class="validate">
                <label for="icon_telephone">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('google')">Log in with Google</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('facebook')">Log in with Facebook</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="sign-in" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign In</a>
      </div>
    </div>
    <div id="modal2" class="modal">
      <div class="modal-content">
        <h4>Sign Up</h4>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <i class="material-icons prefix">account_circle</i>
                <input id="signup-name" type="text" class="validate">
                <label for="icon_prefix">User</label>
              </div>
              <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                <input id="signup-pass" type="password" class="validate">
                <label for="icon_telephone">Password</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('google')">Sign up with Google</a>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <a href="#" onclick="socialLogin('facebook')">Sign up with Facebook</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" id="sign-up" class=" modal-action modal-close waves-effect waves-green btn-flat">Sign Up</a>
      </div>
    </div>
    <script>
      if(cookies('ua_session_token')){
        if(!window.location.href.includes('failed')){
          window.location.href='/dashboard';
        }
      }
      function userLogin(){
        console.log('logging in');
        UserApp.User.login({ "login": $('#login-name').val(), "password": $('#login-pass').val() }, function(error, result) {
            if (error) {
                console.log('error', error)
            } else if (result.locks && result.locks.length > 0) {
                console.log('locked');
            } else {
                console.log('got a cookie');
                cookies({ ua_session_token: result.token });
                window.location.href='/dashboard';
            }
        });
      }
      function userSignup(){
        var signup = UserApp.User.save({
            login: $('#signup-email').val(),
            first_name: $('#signup-first_name').val(),
            last_name: $('#signup-last_name').val(),
            email: $('#signup-email').val(),
            password: $('#signup-password').val(),
            subscription: {
              price_list_id: 'imMAkURITbKgFOc0E1BPxA',
              plan_id: '59yd9h5pTw6j7j30EhX8Mg'
            }
        }, function(error, result){
            console.log(error, result);
            console.log('There was an error');
            // need to save user in database for instagram token
        });

      }
      function socialLogin(providerId) {
        var redirectUrl = window.location.protocol+'//'+window.location.host+window.location.pathname;
        UserApp.OAuth.getAuthorizationUrl({ provider_id: providerId, redirect_uri: redirectUrl },
          function(error, result) {
            if (!error) {
              window.location.href = result.authorization_url;
            }
            console.log(error);
          }
        );
      }

      var matches = window.location.href.match(/ua_token=([a-z0-9_-]+)/i);
      if (matches && matches.length == 2) {
        var token = matches[1];
        UserApp.setToken(token);
        window.location.href = '/dashboard';
      }
      $(document).ready(function(){
        UserApp.initialize({ appId: "57c9a3a52ce8c" });
        $('#sign-in').on('click', function(e){
          userLogin();
          e.preventDefault();
        });
        $('#sign-up').on('click', function(e){
          userSignup();
          e.preventDefault();
        })
        $('.modal-trigger').leanModal();
        $('.carousel.carousel-slider').carousel({full_width: true});
      });
    </script>
  </body>
</html>
