doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js')
  body
    block content
