extends dashboard

block tag_inputs
  h1= userName
  h2 Enter tags to like:
  input(type="text")
  h2 Time between likes:
  input(type="text")
  h2 Max amount of likes:
  input(type="text") 

block recent_likes
  h1 Recent Likes
  div
