/* fonts
font-family: 'Titan One', cursive;
font-family: 'Julius Sans One', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Poiret One', cursive;
*/
nav{
  background-color: transparent;
  box-shadow: none;
}
.brand-logo{
  font-family: 'Poiret One', cursive;
}
.logo{
  background: url(/img/insight.svg) center no-repeat;
  height: 40px;
  display: inline-block;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
header {
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/img/bg.jpg);
  background-size: cover;
  height: 100vh;
}
header .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
header h1 {
  margin: 0;
  font-size: 3rem;
  white-space: nowrap;
  font-family: 'Poiret One', cursive;
}
header .logo{
  height: 90px;
  width: 90px;
}
h2 {
  font-size: 2rem;
}
header p {
  margin: 0;
  font-size: 1.3rem;
  font-family: 'Work Sans', sans-serif;
  margin-top: 38px;
}
header .btn{
  margin-top: 25px;
}

main {
  max-width: 500px;
  margin: 20px auto;
}
